<footer class="footer">
	<div class="container">
		<span th:text="#{application.name} + ' - version ' + #{application.version}"></span> 
			<span th:fragment="copy">&copy; <a th:href="@{#{application.url}}" >MVN</a></span> 
			
	</div>
</footer>

<!--Bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>