<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="centered-form" style="margin-top: 30px;">
            <h1>Login page</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Username</label>:
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="firstName"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Log In"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/signinpage}">Register here</a></span>
                </div>
            </form>
        </div>
    </div>


</div>