<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

	<!-- Brand -->
	<a class="navbar-brand" th:href="@{/loginsuccess}"  th:text="#{application.name}"></a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/loginsuccess}">home</a></li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<form method="post" action="signin">
					<a class="nav-link" th:href="@{/login}" id="login">login</a>
					<input type="hidden" name="signin" value="signin"/>
				</form>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/signinpage}">signin</a></li>

		</ul>
	</div>
</nav>