<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

	<!-- Brand -->
	<a class="navbar-brand" th:href="@{/loginsuccess}"  th:text="#{application.name}"></a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/welcome}">home</a></li>
		</ul>
		<ul class="navbar-nav ml-auto">

			<li class="nav-item">
			<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

				<form name="logoutForm" th:action="@{/logout}" method="post"
					th:hidden="true">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
				</form></li>

		</ul>
	</div>
</nav>